USE [master]
GO
CREATE DATABASE db_企业人事管理系统
GO
USE db_企业人事管理系统
GO
CREATE TABLE [dbo].[tb_AddressBook](
	[ID] [varchar](5) primary key  NOT NULL,
	[Name] [varchar](20) NULL,
	[Sex] [varchar](4) NULL,
	[Phone] [varchar](13) NULL,
	[QQ] [varchar](15) NULL,
	[WordPhone] [varchar](13) NULL,
	[E_Mail] [varchar](32) NULL,
	[Handset] [varchar](11) NULL)
GO

CREATE TABLE [dbo].[tb_Branch](
	[ID] [int] primary key  IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_Business](
	[ID] [int]  primary key IDENTITY(1,1) NOT NULL,
	[BusinessName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_City](
	[ID] [int]  primary key NOT NULL,
	[BeAware] [varchar](30) NULL,
	[City] [varchar](30) NULL)
GO

CREATE TABLE [dbo].[tb_Clew](
	[ID] [int] primary key  NOT NULL,
	[Fate] [int] NOT NULL CONSTRAINT [DF_tb_Clew_Fate]  DEFAULT ((0)),
	[Kind] [int] NOT NULL CONSTRAINT [DF_tb_Clew_Kind]  DEFAULT ((2)),
	[Unlock] [int] NOT NULL CONSTRAINT [DF_tb_Clew_Unlock]  DEFAULT ((0)))
GO

CREATE TABLE [dbo].[tb_DayWordPad](
	[ID] [varchar](5) primary key NOT NULL,
	[BlotterDate] [datetime] NULL,
	[BlotterSort] [varchar](20) NULL,
	[Motif] [varchar](20) NULL,
	[Wordpad] [text] NULL)
GO

CREATE TABLE [dbo].[tb_Duthcall](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[DuthcallName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_EmployeeGenre](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_Family](
	[ID] [varchar](5) primary key NOT NULL,
	[Stu_ID] [varchar](5) NULL,
	[LeaguerName] [varchar](20) NULL,
	[Nexus] [varchar](10) NULL,
	[BirthDate] [datetime] NULL,
	[WordUnit] [varchar](24) NULL,
	[Business] [varchar](10) NULL,
	[Visage] [varchar](10) NULL,
	[phone] [varchar](14) NULL)
GO

CREATE TABLE [dbo].[tb_Folk](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[FolkName] [varchar](30) NULL)
GO

CREATE TABLE [dbo].[tb_Individual](
	[ID] [varchar](5) primary key NOT NULL,
	[Memo] [text] NULL)
GO

CREATE TABLE [dbo].[tb_Kultur](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[KulturName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_Laborage](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[LaborageName] [varchar](50) NULL)
GO

CREATE TABLE [dbo].[tb_Login](
	[ID] [varchar](5) primary key NOT NULL,
	[Name] [varchar](20) NULL,
	[Pass] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_PopeModel](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[PopeName] [varchar](50) NULL) 
GO

CREATE TABLE [dbo].[tb_RANDP](
	[ID] [varchar](5) primary key NOT NULL,
	[Stu_ID] [varchar](5) NULL,
	[RPKind] [varchar](20) NULL,
	[RPDate] [datetime] NULL,
	[SealMan] [varchar](10) NULL,
	[QuashDate] [datetime] NULL,
	[QuashWhys] [varchar](50) NULL)
GO

CREATE TABLE [dbo].[tb_RPKind](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[RPKind] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_Stuffbasic](
	[ID] [varchar](5) primary key NOT NULL,
	[StuffName] [varchar](20) NULL,
	[Folk] [varchar](20) NULL,
	[Birthday] [datetime] NULL,
	[Age] [int] NULL,
	[Kultur] [varchar](14) NULL,
	[Marriage] [varchar](4) NULL,
	[Sex] [varchar](4) NULL,
	[Visage] [varchar](14) NULL,
	[IDCard] [varchar](20) NULL,
	[workdate] [datetime] NULL,
	[WorkLength] [int] NULL,
	[Employee] [varchar](20) NULL,
	[Business] [varchar](10) NULL,
	[Laborage] [varchar](10) NULL,
	[Branch] [varchar](14) NULL,
	[Duthcall] [varchar](14) NULL,
	[Phone] [varchar](14) NULL,
	[Handset] [varchar](11) NULL,
	[School] [varchar](24) NULL,
	[Speciality] [varchar](20) NULL,
	[GraduateDate] [datetime] NULL,
	[Address] [varchar](50) NULL,
	[Photo] [image] NULL,
	[BeAware] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[M_Pay] [float] NULL,
	[Bank] [varchar](20) NULL,
	[Pact_B] [datetime] NULL,
	[Pact_E] [datetime] NULL,
	[Pact_Y] [float] NULL,
	[Major]  [nvarchar](50) NULL)
GO

CREATE TABLE [dbo].[tb_TrainNote](
	[ID] [varchar](10) primary key NOT NULL,
	[Stu_ID] [varchar](5) NULL,
	[TrainFashion] [varchar](20) NULL,
	[BeginDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Speciality] [varchar](20) NULL,
	[TrainUnit] [varchar](30) NULL,
	[KulturMemo] [varchar](50) NULL,
	[Charge] [float] NULL,
	[Effect] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_UserPope](
	[AutoID] [int] primary key IDENTITY(1,1) NOT NULL,
	[ID] [varchar](5) NULL,
	[PopeName] [varchar](50) NULL,
	[Pope] [int] NULL)
GO

CREATE TABLE [dbo].[tb_Visage](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[VisageName] [varchar](20) NULL)
GO

CREATE TABLE [dbo].[tb_WordPad](
	[ID] [int] primary key IDENTITY(1,1) NOT NULL,
	[WORDPAD] [varchar](50) NULL)
GO

CREATE TABLE [dbo].[tb_WordResume](
	[ID] [varchar](5) primary key NOT NULL,
	[Stu_ID] [varchar](5) NULL,
	[BeginDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[WordUnit] [varchar](24) NULL,
	[Branch] [varchar](14) NULL,
	[Business] [varchar](14) NULL)
GO

INSERT [dbo].[tb_AddressBook] ([ID], [Name], [Sex], [Phone], [QQ], [WordPhone], [E_Mail], [Handset]) VALUES (N'0001', N'小冬', N'男', N'55558', N'522', N'897*****', N'88@4.com', N'1355555')
INSERT [dbo].[tb_AddressBook] ([ID], [Name], [Sex], [Phone], [QQ], [WordPhone], [E_Mail], [Handset]) VALUES (N'0002', N'小华', N'女', N'8585', N'5548', N'9828', N'88@*.com', N'131828')
GO
INSERT [dbo].[tb_Branch] ([BranchName]) VALUES (N'ASP.NET部门')
INSERT [dbo].[tb_Branch] ([BranchName]) VALUES (N'VB部门')
INSERT [dbo].[tb_Branch] ([BranchName]) VALUES (N'C#部门')
GO
INSERT [dbo].[tb_Business] ([BusinessName]) VALUES (N'经理')
INSERT [dbo].[tb_Business] ([BusinessName]) VALUES (N'副经理')
INSERT [dbo].[tb_Business] ([BusinessName]) VALUES (N'部门经理')
GO
INSERT [dbo].[tb_City] ([ID], [BeAware], [City]) VALUES (1, N'安徽省', N'合肥市')
INSERT [dbo].[tb_City] ([ID], [BeAware], [City]) VALUES (2, N'安徽省', N'安庆市')
INSERT [dbo].[tb_City] ([ID], [BeAware], [City]) VALUES (3, N'安徽省', N'蚌埠市')
GO
INSERT [dbo].[tb_Clew] ([ID], [Fate], [Kind], [Unlock]) VALUES (1, 5, 1, 1)
INSERT [dbo].[tb_Clew] ([ID], [Fate], [Kind], [Unlock]) VALUES (2, 2, 2, 1)
INSERT [dbo].[tb_DayWordPad] ([ID], [BlotterDate], [BlotterSort], [Motif], [Wordpad]) VALUES (N'0002', CAST(N'2007-12-07 00:00:00.000' AS DateTime), N'人事部事务', N'关于人事调动', N'小李调整到VB部门
小刘调整到C#部门
小王调整到.net部门')
GO
INSERT [dbo].[tb_Duthcall] ([DuthcallName]) VALUES (N'专家')
INSERT [dbo].[tb_Duthcall] ([DuthcallName]) VALUES (N'教授')
INSERT [dbo].[tb_Duthcall] ([DuthcallName]) VALUES (N'科学家')
GO
INSERT [dbo].[tb_EmployeeGenre] ([EmployeeName]) VALUES (N'普通员工')
INSERT [dbo].[tb_EmployeeGenre] ([EmployeeName]) VALUES (N'正式员工')
INSERT [dbo].[tb_EmployeeGenre] ([EmployeeName]) VALUES (N'试用人员')
GO
INSERT [dbo].[tb_Family] ([ID], [Stu_ID], [LeaguerName], [Nexus], [BirthDate], [WordUnit], [Business], [Visage], [phone]) VALUES (N'0001', N'0001', N'李先生', N'父亲', CAST(N'1959-08-08 00:00:00.000' AS DateTime), N'WX水利局', N'工程师', N'党员', N'25')
INSERT [dbo].[tb_Family] ([ID], [Stu_ID], [LeaguerName], [Nexus], [BirthDate], [WordUnit], [Business], [Visage], [phone]) VALUES (N'0002', N'0001', N'张女士', N'母亲', CAST(N'1960-09-09 00:00:00.000' AS DateTime), N'无', N'无业', N'无', N'5151')
GO
INSERT [dbo].[tb_Folk] ([FolkName]) VALUES ( N'汉族')
INSERT [dbo].[tb_Folk] ([FolkName]) VALUES (N'苗族')
INSERT [dbo].[tb_Folk] ([FolkName]) VALUES (N'朝族')
GO
INSERT [dbo].[tb_Individual] ([ID], [Memo]) VALUES (N'0001', N'工作努力、认真')
GO
INSERT [dbo].[tb_Kultur] ([KulturName]) VALUES (N'大学')
INSERT [dbo].[tb_Kultur] ([KulturName]) VALUES (N'高中')
INSERT [dbo].[tb_Kultur] ([KulturName]) VALUES (N'大专')
GO
INSERT [dbo].[tb_Laborage] ([LaborageName]) VALUES (N'工龄工资')
INSERT [dbo].[tb_Laborage] ([LaborageName]) VALUES (N'固定工资')
INSERT [dbo].[tb_Laborage] ([LaborageName]) VALUES (N'浮动工资')
GO
INSERT [dbo].[tb_Login] ([ID], [Name], [Pass]) VALUES (N'0001', N'mr', N'mrsoft')
INSERT [dbo].[tb_Login] ([ID], [Name], [Pass]) VALUES (N'0002', N'111', N'111')
GO
INSERT [dbo].[tb_PopeModel] ([PopeName]) VALUES (N'Folk')
INSERT [dbo].[tb_PopeModel] ([PopeName]) VALUES (N'EmployeeGenre')
INSERT [dbo].[tb_PopeModel] ([PopeName]) VALUES (N'Kultur')
GO
INSERT [dbo].[tb_RANDP] ([ID], [Stu_ID], [RPKind], [RPDate], [SealMan], [QuashDate], [QuashWhys]) VALUES (N'0001', N'0001', N'现金', CAST(N'2007-12-07 00:00:00.000' AS DateTime), N'刘经理', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'')
GO
INSERT [dbo].[tb_RPKind] ([RPKind]) VALUES (N'辞退')
INSERT [dbo].[tb_RPKind] ([RPKind]) VALUES (N'通报批评')
INSERT [dbo].[tb_RPKind] ([RPKind]) VALUES (N'现金')
GO
INSERT [dbo].[tb_TrainNote] ([ID], [Stu_ID], [TrainFashion], [BeginDate], [EndDate], [Speciality], [TrainUnit], [KulturMemo], [Charge], [Effect]) VALUES (N'0001', N'0001', N'全天培训', CAST(N'2007-12-20 00:00:00.000' AS DateTime), CAST(N'2007-12-25 00:00:00.000' AS DateTime), N'排版', N'本公司', N'关于写作排版', 1000, N'很好')
GO
INSERT [dbo].[tb_UserPope] ([ID], [PopeName], [Pope]) VALUES (N'0001', N'Folk', 1)
INSERT [dbo].[tb_UserPope] ([ID], [PopeName], [Pope]) VALUES (N'0001', N'EmployeeGenre', 1)
INSERT [dbo].[tb_UserPope] ([ID], [PopeName], [Pope]) VALUES (N'0001', N'Kultur', 1)
GO
INSERT [dbo].[tb_Visage] ([VisageName]) VALUES (N'党员')
INSERT [dbo].[tb_Visage] ([VisageName]) VALUES (N'团员')
INSERT [dbo].[tb_Visage] ([VisageName]) VALUES (N'共产党员')
GO
INSERT [dbo].[tb_WordPad] ([WORDPAD]) VALUES (N'公司事务')
INSERT [dbo].[tb_WordPad] ([WORDPAD]) VALUES (N'人事部事务')
INSERT [dbo].[tb_WordPad] ([WORDPAD]) VALUES (N'技术部事务')
GO
INSERT [dbo].[tb_WordResume] ([ID], [Stu_ID], [BeginDate], [EndDate], [WordUnit], [Branch], [Business]) VALUES (N'0001', N'0001', CAST(N'2007-08-09 00:00:00.000' AS DateTime), CAST(N'2007-12-07 00:00:00.000' AS DateTime), N'普通程序员', N'长春', N'C#部门')